@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        --color-primary: 22deg 65% 57%;
        --color-primary1: 0deg 0% 95%;
--color-primary2:0deg 0% 98%;
--color-primary3:0deg 0% 6%;
--color-primary4:0deg 0% 95%;
    }
}